@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

@layer components {
  .swiper-vertical-mobile {
    height: 100vh !important;
  }

  .swiper-vertical-mobile .swiper-wrapper {
    flex-direction: column !important;
    height: 100vh !important;
  }

  .swiper-vertical-mobile .swiper-slide {
    height: 100vh !important;
    width: 100% !important;
  }
}

/* Override Swiper's default styles for vertical mode */
.swiper-vertical > .swiper-wrapper {
  flex-direction: column;
}
@layer base {
  :root {
    --background: #ffffff;
    --foreground: #090d16;
    --card: #ffffff;
    --card-foreground: #090d16;
    --popover: #ffffff;
    --popover-foreground: #090d16;
    /* --primary: #006666; */
    --primary: #ff709a;
    --primary-foreground: #fafafa;
    /* --secondary: #d4e5f2; */
    --secondary: #fccb3f;
    --secondary-foreground: #004d4d;
    --main-color: #ff709a;
    --main-second-color: #fccb3f;
    --muted: #f5f5f5;
    --muted-foreground: #737373;
    --accent: #d99aab;
    --accent-foreground: #090d16;
    --destructive: #e93d3d;
    --destructive-foreground: #fafafa;
    --border: #e5e5e5;
    --input: #e5e5e5;
    --ring: #006666;
    --chart-1: #d35f45;
    --chart-2: #287d77;
    --chart-3: #2a3f4d;
    --chart-4: #d5a746;
    --chart-5: #de6b33;
    --sidebar-background: #fafafa;
    --sidebar-foreground: #424242;
    --sidebar-primary: #1a1a1a;
    --sidebar-primary-foreground: #fafafa;
    --sidebar-accent: #f5f5f5;
    --sidebar-accent-foreground: #1a1a1a;
    --sidebar-border: #e8e8e8;
    --sidebar-ring: #3b82f6;
  }

  .dark {
    --background: #090d16;
    --foreground: #fafafa;
    --card: #090d16;
    --card-foreground: #fafafa;
    --popover: #090d16;
    --popover-foreground: #fafafa;
    --primary: #00b3b3;
    --primary-foreground: #fafafa;
    --secondary: #004d4d;
    --secondary-foreground: #fafafa;
    --muted: #262626;
    --muted-foreground: #a3a3a3;
    --accent: #c76984;
    --accent-foreground: #fafafa;
    --destructive: #801515;
    --destructive-foreground: #fafafa;
    --border: #262626;
    --input: #262626;
    --ring: #00b3b3;
    --chart-1: #4d79e6;
    --chart-2: #39a666;
    --chart-3: #e67e22;
    --chart-4: #9b4ddb;
    --chart-5: #db4d77;
    --sidebar-background: #1a1a1a;
    --sidebar-foreground: #f5f5f5;
    --sidebar-primary: #3b82f6;
    --sidebar-primary-foreground: #ffffff;
    --sidebar-accent: #292929;
    --sidebar-accent-foreground: #f5f5f5;
    --sidebar-border: #292929;
    --sidebar-ring: #3b82f6;
  }
}

@layer base {
  *,
  *::before,
  *::after {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  #__next {
    height: 100%;
  }
}
